<!DOCTYPE html>
<html lang='en' ng-app='Wop'>
<head>
<title><%= title %></title>

<link rel='stylesheet' href='/vendor/bootstrap.min.css' />
<link rel='stylesheet' href='/css/app.css' />
</head>
<body>

<!-- Start Awesome code here! :3 -->
<div class='container'>
	<div class='row'>
		<div class='col-lg-12'>
			<div class='panel'>
				<h1>Hello {{hello}}!</h1>
				<div class='form-group'>
					<label>Say Hello: </label>
					<input class='form-control' value='<%= title %>' ng-model='hello' />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Load Awesome scripts. Wop! -->

<script src='vendor/jquery.min.js'></script>
<script src='vendor/underscore-min.js'></script>
<script src='vendor/angular.min.js'></script>

<script src='js/app.js'></script>
</body>
</html>
